<div class="currentexchangerate__container">
  <div>
    <div class="currentexchangerate__line-line"></div>

    <div class="col">
      <div class="row">
        <div class="col-10">
          <span class="currentexchangerate__title">Exchange rate now</span>
        </div>
        <div class="col-2">
          <span class="currentexchangerate__currency">USD/BRL</span>
          <!-- <span class="currentexchangerate__currency">{{ currentExchangeRate.fromSymbol }}/{{ currentExchangeRate.toSymbol }}</span> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <span class="currentexchangerate__date">04/11/2023 - 11h21</span>
        <!-- <span class="currentexchangerate__date">{{ currentExchangeRate.lastUpdatedAt | date : "dd/MM/yyyy '-' HH'h'mm" }}</span> -->
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <span class="currentexchangerate__rate">R$ 5,00</span>
        <!-- <span class="currentexchangerate__rate">R$ {{ currentExchangeRate.exchangeRate }}</span> -->
      </div>
    </div>
  </div>
</div>

<div class="container">
  <span class="currentexchangerate__show" (click)="showCards()">LAST 30 DAYS</span>
</div>

<app-current-exchange-daily
  *ngIf="indShowCards"
  [fromSymbol]="fromSymbol"
></app-current-exchange-daily>
