.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.column {
  padding: 10px;
  margin: 5px;
}

.column1 {
  flex: 2;
}

.column2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.currentexchangerate__line {
  display: flex;
  border-bottom: 2px solid var(--color-divider-gray);
  margin-top: 16px;
}

.currentexchangerate__title {
  color: var(--color-dark-gray);
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
}

.currentexchangerate__currency {
  color: var(--color-primary);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
}

.currentexchangerate__date {
  color: var(--color-light-gray);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
}

.currentexchangerate__rate {
  color: var(--color-primary);
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
  padding: 16px 0 16px 0;
  margin: 16px 0 16px 0;
}

.box {
  background-color: var(--color-primary-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}

.currentexchangerate__show {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  cursor: pointer;
}
