<div class="currentexchangerate__line"></div>

<div class="container">
  <div class="column column1">
    <p class="currentexchangerate__title">Exchange rate now</p>
    <span class="currentexchangerate__date">{{ currentExchangeRate.lastUpdatedAt | date : "dd/MM/yyyy '-' HH'h'mm" }}</span>
  </div>

  <div class="column column2">
    <span class="currentexchangerate__currency">{{ currentExchangeRate.fromSymbol }}/{{ currentExchangeRate.toSymbol }}</span>
  </div>

  <div class="box">
    <span class="currentexchangerate__rate">R$ {{ currentExchangeRate.exchangeRate }}</span>
  </div>
</div>

<div class="container">
  <span class="currentexchangerate__show" (click)="showCards()">LAST 30 DAYS</span>
</div>

<app-daily-exchange-rate
  *ngIf="indShowCards"
  [fromSymbol]="fromSymbol"
  [indShowCards]="indShowCards">
</app-daily-exchange-rate>
