<app-header></app-header>

<div class="home__container">
  <form #form="ngForm" (ngSubmit)="getCurrentExchangeRate(form.value.toSymbol)">
    <div class="home__input-container">
      <input
        class="home__input"
        type="text"
        id="toSymbol"
        name="toSymbol"
        placeholder=""
        ngModel
        required
      />
      <label class="home__label" for="toSymbol">Enter the currency code</label>
    </div>
    <br />
    <button class="home__button" type="submit" [disabled]="loading">
      EXCHANGE RESULT
    </button>
  </form>
</div>

<app-loading-spinner [loading]="loading"></app-loading-spinner>

<app-current-exchange-rate
  *ngIf="currentExchangeRate && this.currentExchangeRate.success && !loading"
  [currentExchangeRate]="currentExchangeRate"
></app-current-exchange-rate>

<app-footer></app-footer>
