<div class="container">
  <div class="dailyexchangerate__container">
    <div class="dailyexchangerate__card">
      <span class="dailyexchangerate__date">04/11/2023</span>

      <div class="dailyexchangerate__first">
        <p>OPEN:<span> R$ 5.666</span></p>
        <p>HIGH:<span> R$ 5.689</span></p>
      </div>

      <div class="dailyexchangerate__second">
        <p>CLOSE:<span> R$ 5.0038</span></p>
        <p>LOW:<span> R$ 4.936</span></p>
      </div>

      <span class="dailyexchangerate__closediff"
        >CLOSE DIFF (%):
        <span
          [ngClass]="{
            'dailyexchangerate__closediff-green': isCloseDiffPositive,
            'dailyexchangerate__closediff-red': !isCloseDiffPositive
          }"
        >
          1.15%
        </span>
      </span>
    </div>

    <div class="dailyexchangerate__card">
      <span class="dailyexchangerate__date">04/11/2023</span>

      <div class="dailyexchangerate__first">
        <p>OPEN:<span> R$ 5.666</span></p>
        <p>HIGH:<span> R$ 5.689</span></p>
      </div>

      <div class="dailyexchangerate__second">
        <p>CLOSE:<span> R$ 5.0038</span></p>
        <p>LOW:<span> R$ 4.936</span></p>
      </div>

      <span class="dailyexchangerate__closediff"
        >CLOSE DIFF (%):
        <span
          [ngClass]="{
            'dailyexchangerate__closediff-green': isCloseDiffPositive,
            'dailyexchangerate__closediff-red': !isCloseDiffPositive
          }"
        >
          1.15%
        </span>
      </span>
    </div>

    <div class="dailyexchangerate__card">
      <span class="dailyexchangerate__date">04/11/2023</span>

      <div class="dailyexchangerate__first">
        <p>OPEN:<span> R$ 5.666</span></p>
        <p>HIGH:<span> R$ 5.689</span></p>
      </div>

      <div class="dailyexchangerate__second">
        <p>CLOSE:<span> R$ 5.0038</span></p>
        <p>LOW:<span> R$ 4.936</span></p>
      </div>

      <span class="dailyexchangerate__closediff"
        >CLOSE DIFF (%):
        <span
          [ngClass]="{
            'dailyexchangerate__closediff-green': isCloseDiffPositive,
            'dailyexchangerate__closediff-red': !isCloseDiffPositive
          }"
        >
          1.15%
        </span>
      </span>
    </div>

    <div class="dailyexchangerate__card">
      <span class="dailyexchangerate__date">04/11/2023</span>

      <div class="dailyexchangerate__first">
        <p>OPEN:<span> R$ 5.666</span></p>
        <p>HIGH:<span> R$ 5.689</span></p>
      </div>

      <div class="dailyexchangerate__second">
        <p>CLOSE:<span> R$ 5.0038</span></p>
        <p>LOW:<span> R$ 4.936</span></p>
      </div>

      <span class="dailyexchangerate__closediff"
        >CLOSE DIFF (%):
        <span
          [ngClass]="{
            'dailyexchangerate__closediff-green': isCloseDiffPositive,
            'dailyexchangerate__closediff-red': !isCloseDiffPositive
          }"
        >
          1.15%
        </span>
      </span>
    </div>

    <div class="dailyexchangerate__card">
      <span class="dailyexchangerate__date">04/11/2023</span>

      <div class="dailyexchangerate__first">
        <p>OPEN:<span> R$ 5.666</span></p>
        <p>HIGH:<span> R$ 5.689</span></p>
      </div>

      <div class="dailyexchangerate__second">
        <p>CLOSE:<span> R$ 5.0038</span></p>
        <p>LOW:<span> R$ 4.936</span></p>
      </div>

      <span class="dailyexchangerate__closediff"
        >CLOSE DIFF (%):
        <span
          [ngClass]="{
            'dailyexchangerate__closediff-green': isCloseDiffPositive,
            'dailyexchangerate__closediff-red': !isCloseDiffPositive
          }"
        >
          1.15%
        </span>
      </span>
    </div>

    <div class="dailyexchangerate__card">
      <span class="dailyexchangerate__date">04/11/2023</span>

      <div class="dailyexchangerate__first">
        <p>OPEN:<span> R$ 5.666</span></p>
        <p>HIGH:<span> R$ 5.689</span></p>
      </div>

      <div class="dailyexchangerate__second">
        <p>CLOSE:<span> R$ 5.0038</span></p>
        <p>LOW:<span> R$ 4.936</span></p>
      </div>

      <span class="dailyexchangerate__closediff"
        >CLOSE DIFF (%):
        <span
          [ngClass]="{
            'dailyexchangerate__closediff-green': isCloseDiffPositive,
            'dailyexchangerate__closediff-red': !isCloseDiffPositive
          }"
        >
          1.15%
        </span>
      </span>
    </div>
  </div>
</div>
