<div class="container">
  <div class="dailyexchangerate__container">
    <div class="dailyexchangerate__card">
      <span class="dailyexchangerate__date">04/11/2023</span>

      <div class="dailyexchangerate__first">
        <p>OPEN:</p>
        <span>CLOSE</span>
        <p>LOW:</p>
        <span>CLOSE</span>
      </div>

      <div class="dailyexchangerate__second">
        <p>OPEN:</p>
        <span>CLOSE</span>
        <p>LOW:</p>
        <span>CLOSE</span>
      </div>

      <span class="dailyexchangerate__closediff">CLOSE DIFF (%):</span>
    </div>

    <div class="dailyexchangerate__card">
      <span class="dailyexchangerate__date">04/11/2023</span>

      <div class="dailyexchangerate__first">
        <p>OPEN:</p>
        <span>CLOSE</span>
        <p>LOW:</p>
        <span>CLOSE</span>
      </div>

      <div class="dailyexchangerate__second">
        <p>OPEN:</p>
        <span>CLOSE</span>
        <p>LOW:</p>
        <span>CLOSE</span>
      </div>

      <span class="dailyexchangerate__closediff">CLOSE DIFF (%):</span>
    </div>

    <div class="dailyexchangerate__card">
      <span class="dailyexchangerate__date">04/11/2023</span>

      <div class="dailyexchangerate__first">
        <p>OPEN:</p>
        <span>CLOSE</span>
        <p>LOW:</p>
        <span>CLOSE</span>
      </div>

      <div class="dailyexchangerate__second">
        <p>OPEN:</p>
        <span>CLOSE</span>
        <p>LOW:</p>
        <span>CLOSE</span>
      </div>

      <span class="dailyexchangerate__closediff">CLOSE DIFF (%):</span>
    </div>

    <div class="dailyexchangerate__card">
      <span class="dailyexchangerate__date">04/11/2023</span>

      <div class="dailyexchangerate__first">
        <p>OPEN:</p>
        <span>CLOSE</span>
        <p>LOW:</p>
        <span>CLOSE</span>
      </div>

      <div class="dailyexchangerate__second">
        <p>OPEN:</p>
        <span>CLOSE</span>
        <p>LOW:</p>
        <span>CLOSE</span>
      </div>

      <span class="dailyexchangerate__closediff">CLOSE DIFF (%):</span>
    </div>

    <div class="dailyexchangerate__card">
      <span class="dailyexchangerate__date">04/11/2023</span>

      <div class="dailyexchangerate__first">
        <p>OPEN:</p>
        <span>CLOSE</span>
        <p>LOW:</p>
        <span>CLOSE</span>
      </div>

      <div class="dailyexchangerate__second">
        <p>OPEN:</p>
        <span>CLOSE</span>
        <p>LOW:</p>
        <span>CLOSE</span>
      </div>

      <span class="dailyexchangerate__closediff">CLOSE DIFF (%):</span>
    </div>

    <div class="dailyexchangerate__card">
      <span class="dailyexchangerate__date">04/11/2023</span>

      <div class="dailyexchangerate__first">
        <p>OPEN:</p>
        <span>CLOSE</span>
        <p>LOW:</p>
        <span>CLOSE</span>
      </div>

      <div class="dailyexchangerate__second">
        <p>OPEN:</p>
        <span>CLOSE</span>
        <p>LOW:</p>
        <span>CLOSE</span>
      </div>

      <span class="dailyexchangerate__closediff">CLOSE DIFF (%):</span>
    </div>

    <div class="dailyexchangerate__card">
      <span class="dailyexchangerate__date">04/11/2023</span>

      <div class="dailyexchangerate__first">
        <p>OPEN:</p>
        <span>CLOSE</span>
        <p>LOW:</p>
        <span>CLOSE</span>
      </div>

      <div class="dailyexchangerate__second">
        <p>OPEN:</p>
        <span>CLOSE</span>
        <p>LOW:</p>
        <span>CLOSE</span>
      </div>

      <span class="dailyexchangerate__closediff">CLOSE DIFF (%):</span>
    </div>

    <div class="dailyexchangerate__card">
      <span class="dailyexchangerate__date">04/11/2023</span>

      <div class="dailyexchangerate__first">
        <p>OPEN:</p>
        <span>CLOSE</span>
        <p>LOW:</p>
        <span>CLOSE</span>
      </div>

      <div class="dailyexchangerate__second">
        <p>OPEN:</p>
        <span>CLOSE</span>
        <p>LOW:</p>
        <span>CLOSE</span>
      </div>

      <span class="dailyexchangerate__closediff">CLOSE DIFF (%):</span>
    </div>
  </div>
</div>
