<div class="container">
  <div class="dailyexchangerate__container">
    <div class="dailyexchangerate__card" *ngFor="let item of lastMonth">
      <span class="dailyexchangerate__date">{{
        item.date | date : "dd/MM/yyyy"
      }}</span>

      <div class="dailyexchangerate__first">
        <p>
          OPEN:<span> R$ {{ item.open }}</span>
        </p>
        <p>
          HIGH:<span> R$ {{ item.high }}</span>
        </p>
      </div>

      <div class="dailyexchangerate__second">
        <p>
          CLOSE:<span> R$ {{ item.close }}</span>
        </p>
        <p>
          LOW:<span> R$ {{ item.low }}</span>
        </p>
      </div>

      <span class="dailyexchangerate__closediff"
        >CLOSE DIFF (%):
        <span
          [ngClass]="{
            'dailyexchangerate__closediff-green': item.signals === 'positive',
            'dailyexchangerate__closediff-red': item.signals === 'negative',
            'dailyexchangerate__closediff-zero': item.signals === 'equal'
          }"
        >
          {{ item.closeDiff }}
        </span>
      </span>
    </div>
  </div>
</div>
