:root {
  --color-background: #ffffff;
  --color-primary: #07B0FB;
  --color-primary-light: rgba(7, 176, 251, 0.1);
  --color-divider-gray: #D9D9D9;
  --color-gray: #f3f3f3;
  --color-dark-gray: #262626;
  --color-light-gray: #333333;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-green: #69C669;
  --color-red: #E54E4E;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
